DIV.navigation { 
  font-family:Verdana,Geneva,sans-serif;
  font-size:13px;
}

SPAN.arabic		{   }

SPAN.textbf		{ font-weight: bold  }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

fieldset {
  border: 2px solid #66CC00;
}

/* heading styles */
h1, h2, h3, h4, h5, h6 {
color: #004D99;
line-height: 36px;
font-family: Tahoma, Geneva, sans-serif;
margin: 0;
padding: 0;
}
h1 {
margin-bottom: 18px;
font-size: 30px;
}
h2 {
font-size: 24px;
}
h3 {
font-size: 18px;
}
h4 {
font-size: 16px;
}
h5 {
font-size: 14px;
}
h6 {
font-size: 13px;
}


/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */

.MATH { font-family: "Century Schoolbook", serif; line-height: 20px; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic; line-height: 20px; }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold; line-height: 20px; } 


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }

body { 
  text-align:left; 
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #2e282a;
  background-color: white;
} 

a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}

a:link, a:visited {
    color: #006FDD;
    background-color: transparent;
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

pre {
  padding: 1px 3px;
  font:normal 14px  Monaco,monospace; 
  line-height: 16px;
  color:#333333;
  background-color:lightgray;
  -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* table layout */
table {
margin: 10px 0 15px 0;
border-collapse: collapse;
}

td {
padding: 3px 10px;
}

th {
padding: 5px 10px;
}

tr {
padding: 3px 10px;
width: 5
}

hr {
  color: #66cc00; 
}

@media screen and (min-width: 960px) {
body {
width: 960px;
margin:5px auto;
}
}

@media print {
body,code,pre code,h1,h2,h3,h4,h5,h6 {
color: black;
}

table, pre {
page-break-inside: avoid;
}
}
